@model IEnumerable<CompositeMVC.Models.Post>

<ul>
@foreach (var post in Model) { 
    <li>
        <h3><a href="#">@post.Title</a></h3>
        <p>
            @post.Summary
        </p>
    </li>
}
</ul>